@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
}

.header{
    background-color: #222831;
}

.header> h1{
    color: #ffffff;
    padding: 16px;
}

 li{
    display: inline;
    padding: 0.5em;
}

.header a, ul{
    color: #ffffff;
}

a:link{
    text-decoration: none;
}
a:hover{
    color: #d63447;
}

img{
    width: 400px;
    margin-top: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px
    -webkit-border-radius: 10px;
}
.flex-item{
    border-radius: 10px;
    -moz-border-radius: 10px
    -webkit-border-radius: 10px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 1em;
    flex-wrap: wrap;
    border-radius: 10px;
    -moz-border-radius: 10px
    -webkit-border-radius: 10px;
}